Repository DesignSystemsOSS/eccentrictouch, pull requests merged in 2021-04, with the labels that each got.

#104 Some CSS Methods are removed, and tests are modified accordingly
  src/lib/eccentric.scss
  src/tests/__buttons.html
  src/tests/__tags.html
  src/tests/auto/__TAG_TESTS.js
Labels: bug, enhancement

#116 Text based input, textarea CSS added
  src/lib/eccentric.css
  src/lib/eccentric.css.map
  src/lib/eccentric.scss
  src/tests/__form_elements.html
  src/tests/auto/TEST_RESULTS.htm
  src/tests/auto/__FORM_TESTS.js
Labels: code: css, designing, enhancement

#121 CSS Properties Modified and Outline issue resolved
  README.md
  src/lib/eccentric.css
  src/lib/eccentric.css.map
  src/lib/eccentric.scss
  src/tests/__form_elements.html
Labels: code: css, documentation, duplicate, enhancement

#122 Merging form updates to the new stable branch
  README.md
  src/lib/eccentric.css
  src/lib/eccentric.css.map
  src/lib/eccentric.scss
  src/tests/__form_elements.html
  src/tests/auto/TEST_RESULTS.htm
  src/tests/auto/__FORM_TESTS.js
Labels: code: css, documentation, enhancement, good first issue, tests

#127 Form Elements updated.
  src/lib/eccentric.css
  src/lib/eccentric.css.map
  src/lib/eccentric.scss
  src/tests/__form_elements.html
Labels: code: css, enhancement, tests

#138 Merging v2.0 changes to master branch
  .github/ISSUE_TEMPLATE/community_joining.md
  .github/ISSUE_TEMPLATE/mantainer_request.md
Labels: enhancement

#142 CONTRIBUTING file has been updated
  CONTRIBUTING.md
  src/bin/contribution_image_assets/fork.png
  src/bin/contribution_image_assets/issue_template.png
  src/bin/contribution_image_assets/pr_merge_request.png
  src/bin/contribution_image_assets/pr_message.png
  src/bin/contribution_image_assets/pr_notification.png
  src/bin/contribution_image_assets/pr_review_request.png
  src/bin/contribution_image_assets/pr_submit.png
  src/bin/test.js
Labels: documentation, enhancement

#143 Create auto_comment.yml
  .github/workflows/auto_comment.yml
Labels: enhancement

#146 Documentation Updates
  CONTRIBUTING.md
  README.md
  SECURITY.md
Labels: documentation, enhancement

#148 Merging v2.0 to its stable branch
  .github/ISSUE_TEMPLATE/community_joining.md
  .github/ISSUE_TEMPLATE/mantainer_request.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  src/bin/contribution_image_assets/fork.png
  src/bin/contribution_image_assets/issue_template.png
  src/bin/contribution_image_assets/pr_merge_request.png
  src/bin/contribution_image_assets/pr_message.png
  src/bin/contribution_image_assets/pr_notification.png
  src/bin/contribution_image_assets/pr_review_request.png
  src/bin/contribution_image_assets/pr_submit.png
  src/bin/test.js
Labels: documentation, enhancement

#150 responsive header added #129
  src/lib/eccentric.css
  src/lib/eccentric.css.map
  src/lib/eccentric.scss
  src/lib/js/HeaderComponentModule.js
  src/lib/js/eccentric.js
  src/tests/__tags.html
Labels: bug, code: css, enhancement, good first issue, help wanted

#162 Responsive Header Added
  .vscode/settings.json
  src/lib/eccentric.css
  src/lib/eccentric.css.map
  src/lib/eccentric.scss
  src/lib/js/HeaderComponentModule.js
  src/lib/js/eccentric.js
  src/tests/__tags.html
Labels: code: css, do not merge, enhancement

#161 Border properties added in input:month component #159
  src/bin/contribution_image_assets/main.png
  src/lib/Components/cards.css
  src/lib/Components/cards.css.map
  src/lib/Components/cards.scss
  src/lib/eccentric.css
  src/lib/eccentric.css.map
  src/lib/eccentric.scss
Labels: bug, code: css, do not merge, enhancement

#160 Adding features to v2/stable branch
  .deepsource.toml
  .github/workflows/auto_comment.yml
  .vscode/settings.json
  README.md
  src/bin/contribution_image_assets/main.png
  src/lib/Components/cards.css
  src/lib/Components/cards.css.map
  src/lib/Components/cards.scss
  src/lib/eccentric.css
  src/lib/eccentric.css.map
  src/lib/eccentric.scss
  src/lib/js/HeaderComponentModule.js
  src/lib/js/eccentric.js
  src/tests/__tags.html
Labels: do not merge
